* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: serif;
}

img {
    width: 50px;
}

body {
    padding: 25px;
    background: #DEEABA;
}

.title {
    margin: 15px 0;
    border-bottom: 2px dotted rgba(1, 1, 1, .2);
}

.title h1 {
    text-align: center;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

table thead {
    background: #84DE6D;
}

table tbody tr:nth-child(n) {
    background: #DEEABA;
}

table tbody tr:nth-child(2n) {
    background: #E6E6E6;
}

table tbody tr.bg-green {
    background: #84DE6D;
}

table th {
    padding: 3px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #000;
}

table td, table tr {
    padding: 10px;
    border: 1px solid #000;
    transition: .1s all ease-in-out;
    position: relative;
}

@media screen and (max-width: 992px) {

    body {
        padding: 10px;
    }

    table {
        display: block;
    }

    table>*, table tr, table td, table th {
        display: block;
        padding: 10px 0;
    }

    table tbody {
        padding: 0;
    }
    table thead {
        display: none;
    }
    table tbody tr td {
        padding-left: 40% !important;
        min-height: 40px;
    }
  
    table tbody tr td:before {
        position: absolute;
        left: 20px;
        font-weight: bold;
    }

    table td, table tr {
        border: none;
        border-bottom: 1px solid #000;
    }

    table tbody tr td:nth-child(1):before {
        content: "№";
    }
    table tbody tr td:nth-child(2):before {
        content: "Понеделник";
    }
    table tbody tr td:nth-child(3):before {
        content: "Вторник";
    }
    table tbody tr td:nth-child(4):before {
        content: "Сряда";
    }
    table tbody tr td:nth-child(5):before {
        content: "Четвъртък";
    }
    table tbody tr td:nth-child(6):before {
        content: "Петък";
    }
    table tbody tr td:nth-child(7):before {
        content: "Събота";
    }
    table tbody tr td:nth-child(8):before {
        content: "Неделя";
    }
}