* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

img {
    width: 50px;
}

body {
    padding: 25px;
}

table {
    background: #fff;
    overflow: hidden;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    transition: .3s all ease-in-out;
}

table tbody tr td:nth-child(1), table tbody tr td:nth-child(2) {
    min-width: 250px;
    width: 250px;
}

table tbody tr:nth-child(n){
    background: #fff;
}

table tbody tr:nth-child(2n){
    background: #efefef;
}

table tbody tr:hover {
    background: #C3E5E4;
}

table tbody tr td:nth-child(3) {
    min-width: 100px;
    width: 100px;
    text-align: right;
}

table thead tr th, table tbody tr td {
    padding: 10px;
}

table thead tr th {
    border-top: 1px solid #999;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {

    body {
        padding: 10px;
    }

    table {
        display: block;
    }

    table tbody tr td:nth-child(1), table tbody tr td:nth-child(2), table tbody tr td:nth-child(3) {
        min-width: 10px;
        width: auto;
        text-align: left;
    }

    table>*, table tr, table td, table th {
        display: block;
        padding: 10px 0;
    }

    table tbody {
        padding: 0;
    }
    table thead {
        display: none;
    }
    table tbody tr td {
        padding-left: 40% !important;
        min-height: 40px;
    }
  
    table tbody tr td:before {
        position: absolute;
        left: 20px;
        font-weight: bold;
    }

    table td, table tr {
        border: none;
        border-bottom: 1px solid #fff;
    }

    table tbody tr td:nth-child(1):before {
        content: "Автор";
    }
    table tbody tr td:nth-child(2):before {
        content: "Заглавие";
    }
    table tbody tr td:nth-child(3):before {
        content: "Цена";
    }

}