@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    transition: .3s all ease-in-out;
}

.third-list {
    position: relative;
    padding: 0 1rem;
    background: #1C9E78;
    -webkit-box-shadow: inset 4px 6px 11px -9px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: inset 4px 6px 11px -9px rgba(0, 0, 0, 0.68);
    box-shadow: inset 4px 6px 11px -9px rgba(0, 0, 0, 0.68);
}

.third-list .menu-link {
    padding: .7rem .5rem;
    transition: .3s all ease-in-out;
}

.third-list .menu-link.active {
    background: #1B8A6A;
}

.third-list .menu-link.active a {
    color: #fff;
}

.third-list .menu-link:hover {
    background: #1B8A6A;
}

.third-list .menu-link:hover a {
    color: #fff;
}

.third-list .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.third-list .menu-link a {
    display: block;
    padding: .5rem .2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.76);
    position: relative;
}

.third-list .menu-link.toggle a::after {
    box-sizing: border-box;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .35em solid;
    border-right: .35em solid transparent;
    border-bottom: 0;
    border-left: .35em solid transparent;
}

@media (max-width: 992px) {
    .third-list .navbar-nav {
        flex-direction: column;
        flex: 1;
    }

    .third-list {
        justify-content: flex-start;
    }
}