* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    transition: .3s all ease-in-out;
    background: #F7F7F7;
    padding: 15px;
    transition: .3s all ease-in-out;
}

.fourth-list span {
    display: block;
}

.fourth-list svg {
    width: 25px;
    height: 25px;
}

.fourth-list .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
}

.fourth-list .menu-link {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    min-height: 25px;
    display: block;
    margin: 4px;
    padding-bottom: 0px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.fourth-list .menu-link a {
    color: #fff;
    text-align: center;
}

.fourth-list .menu-link.facebook {
    background: #3B5999;
}

.fourth-list .menu-link.facebook:hover {
    background: rgb(27, 63, 141);
}

.fourth-list .menu-link.twitter {
    background: #55ACEF;
}

.fourth-list .menu-link.twitter:hover {
    background: rgb(29, 113, 177);
}

.fourth-list .menu-link.google {
    background: #DB4534;
}

.fourth-list .menu-link.google:hover {
    background: rgb(189, 51, 36);
}


.fourth-list .menu-link.linkedin {
    background: #0000FE;
}

.fourth-list .menu-link.linkedin:hover {
    background: rgb(2, 2, 167);
}

@media (max-width: 992px) {
    .fourth-list .navbar-nav {
        flex-direction: column;
        flex: 1;
    }
}