@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* padding: 0;
    margin: 0; */
}

body {
    /* padding: 30px; */
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

li {
    cursor: pointer;
}

.content {
    padding: 20px;
}

.first-list ul {
    list-style-image: url('../icons/leaf2.png');
    font-size: 24px;
}