* {
    font-family: Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

li {
    cursor: pointer;
}

.content {
    padding: 20px;
}

.second-list {
    max-width: 400px;
    width: 400px;
}

.second-list .menu-title {
    background: #23A7F1;
    color: #fff;
    height: 40px;
    padding-left: 10px;
    -webkit-box-shadow: inset 0px 21px 40px -28px rgba(31, 29, 31, .7), 1px 3px 7px rgba(1, 1, 1, .1);
    -moz-box-shadow: inset 0px 21px 40px -28px rgba(31, 29, 31, .7), 1px 3px 7px rgba(1, 1, 1, .1);
    box-shadow: inset 0px 21px 40px -28px rgba(31, 29, 31, .7), 1px 3px 7px rgba(1, 1, 1, .1);
    z-index: 10;
    position: relative;
}

.second-list .menu-title h4 {
    display: inline-block;
    font-weight: 300;
    font-size: 1.8em;
    padding: 0;
    margin-right: 5px;
}

.second-list .menu-title a {
    color: #fff;
    line-height: 40px;
    font-size: 1.5em;
}

.second-list .menu-title .t-icon {
    cursor: pointer;
}

.second-list .menu-title .hamburger {
    font-size: 1em;
}

.second-list .menu-title span.arrow {
    font-size: 2.6em;
    vertical-align: top;
    margin-left: 5px;
    line-height: 40px;
}

.second-list ul {
    list-style: none;
    padding: 0 5px;
    transition: .3s all ease-in-out;
}

.second-list ul li {
    padding: 3px 0;
}

.second-list span.bullet {
    vertical-align: middle;
    margin-right: 7px;
}

.second-list a.menu-link {
    text-decoration: none;
    font-size: 1.4em;
    letter-spacing: .3px;
    font-weight: 100;
    vertical-align: middle;
    color: #000;
}

.second-list li:hover a.menu-link {
    color: #23A7F1;
}

.second-list .bullet {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../icons/sprites.jpg');
}

.second-list .bullet.tablet {
    background: url('../icons/sprites.jpg') -198px -57px;
}

.second-list .bullet.phone {
    background: url('../icons/sprites.jpg') -20px -320px;
}

.second-list .bullet.comp {
    background: url('../icons/sprites.jpg') -682px -145px;
}

.second-list .bullet.screen {
    background: url('../icons/sprites.jpg') -505px -145px;
}

.second-list .bullet.small-el {
    background: url('../icons/sprites.jpg') -65px -365px;
}

.second-list .bullet.big-el {
    background: url('../icons/sprites.jpg') -22px -365px;
}

.second-list .bullet.fashion {
    background: url('../icons/sprites.jpg') -198px -145px;
}

.second-list .bullet.health {
    background: url('../icons/sprites.jpg') -506px -321px;
}

.second-list .bullet.home {
    background: url('../icons/sprites.jpg') -328px -365px;
}

.second-list .bullet.books {
    background: url('../icons/sprites.jpg') -416px -279px;
}

.second-list .bullet.toys {
    background: url('../icons/sprites.jpg') -195px -275px;
}

.second-list .bullet.sport {
    background: url('../icons/sprites.jpg') -682px -278px;
}

.second-list .bullet.auto {
    background: url('../icons/sprites.jpg') -240px -147px;
}

.second-list .bullet.food {
    background: url('../icons/sprites.jpg') -20px -103px;
}
