@font-face {
    font-family: Bebas;
    src: url('../04_css_texts_and_fonts/bebas/Bebas-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
}

div, section, p {
    margin-bottom: 10px;
}

section {
    border: 1px solid #262626;
    padding: 20px;
}

.content {
    padding: 20px;
}

.section-1 section {
    margin-bottom: 10px;
}

.section-1 .first-paragraph {
    font-size: 18px;
    font-family: serif;
}

.section-1 .second-paragraph {
    font-size: 16px;
    font-family: sans-serif;
}

.section-2 h1 {
    font-family: 'Bebas', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

.section-2 p::first-letter {
    font-family: 'Bebas', sans-serif;
    font-size: 50px;
}

.section-2 .list {
    padding-left: 20px;
}

.section-3 h1 {
    font-size: 50px;
    text-indent: 30px;
}

.section-3 h2 {
    font-size: 40px;
    text-align: right;
    text-decoration: line-through;
    padding: 15px;
}

.section-3 p {
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 1px;
}

.section-3 p::first-line {
    font-weight: bold;
    font-size: 20px;
}