* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

.col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
}

img {
    width: 100%;
    vertical-align: middle;
    border-radius: 2px;
}

.title {
    margin: 5px 0;
}

.title h5 {
    font-weight: 100;
    font-size: 1em;
    color: #2e2e2e;
}

.title p {
    color: #7e7e7e;
}

.price {
    margin-top: 10px;
}

.rev-wrapper {
    margin-top: 5px;
}

.rev-wrapper .voting {
    background: #023882;
    padding: 6px 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 5px 5px 0;
}

.rev-wrapper .voting-text {
    color: #023882;
    font-size: 14px;
}

.rev-wrapper .review-text {
    font-size: 0.75em;
    color: #7e7e7e;
}

@media (max-width: 992px) {
    .col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}