* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.img-wrapper {
    position: relative;
    opacity: .6;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.img-wrapper:hover {
    opacity: 1;
}

.img-wrapper::after {
    content: 'View';
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: .3s all ease-in-out;
}

.img-wrapper:hover::after {
    display: flex;
}

img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    border: 1px solid #e0e0e0;
}

.col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.caption-wrapper {
    padding: 10px 0;
}

@media (max-width: 992px) {
    .col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        border-bottom: 1px solid #cfcfcf;
    }
}

@media (max-width: 768px) {
    .col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}