* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

body {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    font-family: sans-serif;
    background: #f3f1f1;
}

.container {
    padding: 20px;
}

.chat-wrapper {
    max-width: 45%;
    width: 45%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ece8e8;
}

.sender-wrapper {
    display: flex;
    justify-content: space-between;
}

.sender-wrapper h5 {
    color: #405D85;
}

.sender-wrapper:hover .time-wrapper {
    color: #888484;
}

.time-wrapper {
    color: #d8d8d8;
    font-size: 14px;
}

.time-wrapper svg {
    width: 10px;
    height: 10px;
}

.message-container .img-wrapper {
    width: 50px;
}

.message-container h5 {
    font-size: 16px;
}

.message-container .message {
    padding: 0 10 20px 10px;
    float: left;
    width: 80%;
}

.message-container {
    overflow: auto;
}

.float-left {
    float: left;
}

@media (max-width: 768px) {
    .chat-wrapper {
        max-width: 80%;
        width: 80%;
    }
}

@media (max-width: 576px) {
    .chat-wrapper {
        max-width: 100%;
        width: 100%;
    }
}