* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}

.col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.title {
    position: relative;
    min-height: 30px;
}

.title h5 {
    position: absolute;
    background: #fff;
    padding-right: 15px;
    z-index: 15;
    top: 50%;
    transform: translateY(-50%);
}

.stripes {
    height: 10px;
    position: absolute;
    width: 100%;
    background: repeating-linear-gradient( -45deg, #FFF, #F2F2F2 3px, #FFF 5px);
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
}

.article {
    border-bottom: 1px solid #F2F2F2;
}

.img-wrapper {
    border: 1px solid #666;
    width: 30%;
    min-height: 60px;
    height: 100px;
    padding: 5px;
    margin-right: 15px;
    /* margin: 15px 0; */
}

.img-wrapper .img {
    width: 100%;
    height: 100%;
    background: #666666;
}

.articles-wrapper {
    padding: 15px;
}

.article {
    overflow: auto;
    padding: 20px 0;
}

.article-desc {
    width: 65%;
}

.float-left {
    float: left;
}

.text-title {
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    color: #434343;
    font-size: 1em;
}

.title-link {
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    font-size: .875em;
}

.light-text {
    color: #ABABAB;
    font-style: italic;
    font-size: .8125em;
    margin: 5px 0;
}

.text {
    color: #000;
    font-family: sans-serif;
    font-size: .875em;
}

@media (max-width: 992px) {
    .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .float-left {
        float: none;
    }
    .article-desc {
        width: 100%;
    }
    .img-wrapper {
        margin: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .img-wrapper .img {
        border-radius: 50%;
    }
}