@import url('https://fonts.googleapis.com/css?family=Pirata+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Pirata One', cursive;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

.col {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    border: 1px solid #000;
    padding: 10px;
    overflow: auto;
}

.float-left {
    float: left
}

.img-wrapper {
    margin-right: 15px;
}

img {
    width: 150px;
    height: 150px;
}

.text-wrapper h4 {
    font-size: 35px;
}

.text-wrapper p {
    font-size: 18px;
    font-weight: lighter;
}

@media (max-width: 992px) {
    .col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}