* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col .card {
    padding: 0 15px;
}

.title {
    position: relative;
    min-height: 30px;
}

.title h5 {
    position: absolute;
    background: #fff;
    padding-right: 15px;
    z-index: 15;
    top: 50%;
    transform: translateY(-50%);
}

.stripes {
    height: 10px;
    position: absolute;
    width: 100%;
    background: repeating-linear-gradient( -45deg, #FFF, #F2F2F2 3px, #FFF 5px);
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
}

.img-wrapper {
    border: 1px solid #666;
    height: 170px;
    padding: 5px;
    margin: 15px 0;
}

.mini-article {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    border-top: 1px solid #efefef;
    padding: 20px 0;
}

.img-wrapper .img {
    width: 100%;
    height: 100%;
    background: #666666;
}

.mini-article .img-wrapper {
    height: auto;
    ;
    margin: 0 10px 0 0;
    padding: 3px;
    border: none;
}

.mini-article .img-wrapper .img {
    width: 55px;
    height: 55px;
    position: relative;
}

.mini-article .img-wrapper .img:before {
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 1px solid #434343;
}

.text-title {
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    color: #434343;
    font-size: 1em;
}

.text {
    color: #000;
    font-family: sans-serif;
    font-size: .875em;
}

.title-link {
    color: #444444;
    text-decoration: none;
    font-family: sans-serif;
    font-size: .875em;
}

.light-text {
    color: #ABABAB;
    font-style: italic;
    font-size: .8125em;
}

.title-link:hover {
    color: rgb(219, 146, 9);
}

.black-hover:hover {
    color: #000;
}

.mb-15 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 15px;
}

@media (max-width: 992px) {
    .col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}