* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    background: #4CB050;
    padding: 10px;
    color: #fff;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #4CB050;
}

.col {
    -ms-flex: 0 0 20%;
    flex: 0 0 25%;
    max-width: 20%;
    text-align: center;
    border-right: 1px solid #cfcfcf;
    padding: 2em 0;
}

.col:last-child {
    border-right: none;
}

.circle-holder {}

.circle-holder .circle {
    height: 130px;
    width: 130px;
    position: relative;
    background: #4CB050;
    display: block;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 2em;
}

.capture-holder {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: lighter;
}

.capture-holder h5 {
    font-size: 1.5em;
    font-weight: lighter;
    padding: 1em 0;
}

@media (max-width: 992px) {
    .col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        border-bottom: 1px solid #cfcfcf;
    }

    .col:last-child {
        border-right: 1px solid #cfcfcf;
    }
    

    .circle-holder .circle {
        height: 100px;
        width: 100px;
        margin: 10px auto;
    }

    .capture-holder h5 {
        font-size: 1.2em;
        padding: .8em 0;
    }
}

@media (max-width: 768px) {
    .col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .circle-holder .circle {
        height: 100px;
        width: 100px;
        margin: 10px auto;
    }

    .capture-holder h5 {
        padding: .5em 0;
    }
}


@media (max-width: 576px) {
    .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .circle-holder .circle {
        height: 100px;
        width: 100px;
        margin: 10px auto;
    }

    .capture-holder h5 {
        padding: .5em 0;
    }
}