* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    padding: 20px;
}

body a {
    text-decoration: none;
    color: #27262E;
}

.title {
    margin-bottom: 5px;
}

li {
    list-style: none;
    height: 30px;
    line-height: 30px;
}

li:hover .notification {
    color: rgb(144, 144, 146);
}

.title h5 {
    font-size: 14px;
    color: #7B7C80;
}

.container .card {
    min-width: 200px;
    max-width: 200;
    background: #EAEBEF;
    padding: 10px;
}

li .link a {
    overflow: auto;
    width: 135px;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.card .notification {
    float: right;
    color: #B7B8BC;
    overflow: auto;
    font-size: 12px;
}

.card .notification .eye {
    opacity: 0;
}

.card .notification .count.none {
    opacity: 0;
}

.card .notification.disabled .eye {
    opacity: 1;
}

.card .notification.disabled .count {
    opacity: 0;
}

.card .notification:hover {
    color: rgb(144, 144, 146);
}

.notification .eye svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.img-wrapper {
    float: left;
    max-width: 25px;
    width: 25px;
    margin-right: 3px;
}

.img-wrapper img {
    width: 100%;
    vertical-align: middle;
}