* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #fafafa;
    padding: 0 10px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.card {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
}

.card-header {
    vertical-align: baseline;
    padding: 1em;
}

header.card-header {
    height: 60px;
    padding: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-direction: normal; */
    /* flex-direction: row; */
    border-bottom: 1px solid #efefef;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    color: #404040;
}

.card-header .name a {
    color: #404040;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.card-header .img {
    width: 45px;
    height: 45px;
}

.card-header img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.post-img img {
    width: 100%;
}

.card .footer {
    min-height: 100px;
}

.card svg {
    width: 30px;
    height: 30px;
}

.card .footer {
    padding: 0 15px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    justify-content: space-between;
}

.card .footer .icon-wrapper {
    display: inline-block;
}

.card button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: lighter;
    color: #323232;
}

.card button span {
    display: block;
}

@media (max-width: 992px) {
    .card button {
        padding: 5px;
    }
}