* {
    padding: 0;
    margin: 0;
}

.box {
    width: 800px;
    height: 500px;
    margin: auto 20px;
}

.bg-1 {
    background: url('./bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 50px;
}

.bg-2 {
    background: url('./bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    position: relative;

    border: 1px solid pink;
}

.bg-2 h1 {
    display: inline-block;
    padding: 10px;
}

.bg-2 img {
    width: 40px;
}

.bg-2 .title {
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.bg-2 .title p {
    font-size: 24px;
    padding: 10px;
}

.bg-2 .price {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-family: sans-serif;
}

.bg-2 .price .price-box {
    background: #383838;
    padding: 10px;
    width: 100px;
    margin: 15px;
    border-radius: 5px;
}

.bg-2 .price p {
    font-size: 15px;
    font-weight: bold;
}

.bg-2 .price h4 {
    font-size: 20px;
}
