@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

.jumbotron {
    height: 100vh;
    color: #fff;
    background: url('../images/photo-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jumbotron h1 {
    font-size: 3.4375rem;
    font-weight: 500;
    margin: 0;
}

.jumbotron p {
    font-size: 1rem;
}

.btn-group-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-group-row .btn {
    margin-bottom: 10px
}

.btn-group-row .btn:first-child {
    margin-right: 10px;
}

.btn {
    display: inline-block;
    font-weight: 600;
    max-height: 45px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #fff;
    padding: .75rem 1rem;
    line-height: 1.5;
    transition: .3s all ease-in-out;
    text-transform: uppercase;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    cursor: pointer;
}

.mt-20 {
    margin-top: 1.25rem;
}

.btn.btn-purple, .btn:hover {
    background: #745CF9;
    border: 1px solid #745CF9
}

.btn:hover {
    color: rgb(203, 196, 240);
}

.btn:focus, .btn {
    outline: none;
    border: 1px solid #fff;
}

.btn:focus {
    border: 1px solid #745CF9;
}

.container-fluid {
    width: 100%;
}

.container-fluid .row .col-md-4, .container-fluid .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

img {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.col-md-6, .col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1
}

.text-content {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
}

.text-content h3, .section-title h3 {
    font-size: 2rem;
    font-weight: 300;
}

.section-title {
    padding: 1rem 0;
}

.section-title p {
    font-size: 1rem;
}

.text-content p {
    color: #7a7575;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-grey {
    background: #F5F5F5;
}

.text-center {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section-title {
    background: #0E1015;
    color: #fff;
}

.portfolio-item {
    overflow: hidden;
}

.portfolio-item img {
    transition: .3s all ease-in-out;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 800px;
    }
    body {
        font-size: 0.75rem;
    }
    .text-content {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    .jumbotron h1 {
        font-size: 2.8125rem;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 600px
    }
    .col-md-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
    .col-md-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .text-content {
        text-align: center;
    }

    .py-5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .jumbotron h1 {
        font-size: 2.1875rem;
    }

    .btn-group-row .btn:first-child {
        margin-right: 0;     
    } 
   
}

@media (max-width:576px) {
    .container {
        width: 100%;
    }
    
}