.first-title {
    color: red;
    border: 1px solid blue;
}

.second-title {
    color: lawngreen;
    border: 1px solid red;
}

.third-title {
    color: blue;
    border: 1px solid lawngreen;
}

.first-line {
    background: rgba(22, 55, 154, 1);
}

.second-line {
    background: rgba(22, 55, 154, .9);
}
.third-line {
    background: rgba(22, 55, 154, .6);
}

.fourth-line {
    background: rgba(22, 55, 154, .3);
}


.line {
    width: 100%;
    height: 100px;
}